.texto{
    font-family: 'Tiro Gurmukhi', serif;
    text-align: center;
    background-color: rgb(83, 83, 17);
}
.texto2{
    text-align: center;
    font-size: 10px;
    color:white;
}
.fondo{
    background-color: black;
    color:white;
}
.texto3{
    font-size: 20px;
    color: red;
}
.texto4{
    font-size: 40px;
    color: red;
}